
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
button,
details,
input[type="submit"],
input[type="reset"] {
	background: none;

	outline: inherit;
}